.card {
  width: 70%;
  margin: 0 auto 30px;
}

.img {
  border-radius: 80%;
}

.paragraph {
  margin-top: 0;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  font-family: 'Bilbo Swash Caps', cursive;
}

.card:hover {
  cursor: pointer;
}