.main {
  display: grid;
    width: 80%;
    justify-self: center;
    grid-template-areas:
        "title title"
        "half1 half2";
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    gap: 25px;
}