.home {
  background: url(../../img/bg-bons-drinks.jpg) no-repeat 50%;
  width: 100%;
  margin-top: 20px;
}

.title {
  font-family: "Bilbo Swash Caps",cursive;
  font-size: 130px;
  text-align: center;
  color: rgb(83, 235, 219);
  z-index: 2;
  text-shadow:
    7px 7px 5px #234858,
      2px 0 0 #4443,
      -2px 0 0 #4443,
      0 2px 0 #4443,
      0 -2px 0 #4443,
      1px 1px 0 #4443,
      -1px -1px 0 #4443,
      1px -1px 0 #4443,
      -1px 1px 0 #4443;
  margin-top: 0;
  animation-name: title;
  animation-duration: 1.8s;
}

@keyframes title {
  from { opacity: 0; }
  to { opacity: 1; }
}