.header {
  height: 70px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  background-color: #E69B35;
  display: grid;
  grid-template-columns: repeat(2,1fr) 30% repeat(2,1fr);
  box-shadow: 0 1px 60px #000000;
  border-radius: 0 0 25% 25%;
}

a {
  text-decoration: none;
  color: #292929;
}

.logo {
  font-size: 30px;
  font-family: 'Bilbo Swash Caps', cursive;
}

.links {
  font-family: 'Open Sans Condensed', sans-serif;
}

a:hover, .active {
  text-decoration: underline;
  color: #89f089;
  transform: scale(1.2);
  transition: transform 0.4s;
}