.header {
  height: 70px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  background-color: #E69B35;
  display: grid;
  grid-template-columns: repeat(2,1fr) 30% repeat(2,1fr);
  box-shadow: 0 1px 60px #000000;
  border-radius: 0 0 25% 25%;
}

a {
  text-decoration: none;
  color: #292929;
  width: 90%;
}

.logo {
  font-size: 36px;
  font-family: 'Bilbo Swash Caps', cursive;
}

.links {
  font-family: 'Open Sans Condensed', sans-serif;
}

a:hover {
  text-decoration: underline;
  color: #89f089;
  transform: scale(1.2);
  transition: transform 0.4s;
}

.active {
  color: rgb(67, 111, 39);
  text-shadow: 
    1px 1px 6px #d0d0d07C,
    -1px -1px 6px #d0d0d07C,
    1px -1px 6px #d0d0d07C,
    -1px 1px 6px #d0d0d07C;
}

.active:hover {
  color: rgb(67, 111, 39);
  text-decoration: none;
  cursor: default;
  transform:
    scale(1)
    ;
}