.App {
  text-align: center;
  display: grid;
  gap: 20px;
  grid-template-areas: 
    "header"
    "main"
    "footer";
  grid-template: 60px 100% 40px/ auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  grid-area: title;
}